header {
    /* Rectangle 5 */

position: absolute;
width: 898px;
height: 100px;
left: 8px;
top: 0px;

background: #241202;

}
main {
    /* Rectangle 3 */

position: absolute;
width: 640px;
height: 354px;
left: 0px;
top: 68px;

background: url(завантаження (2).jpg);

}
footer {
    /* Rectangle 2 */

position: absolute;
width: 898px;
height: 125px;
left: 8px;
top: 450px;

background: #241202;

}
h2 {
    /* Breakfast ALL day */

position: absolute;
width: 220px;
height: 39px;
left: 19px;
top: 10px;

font-family: 'Jacques Francois';
font-style: normal;
font-weight: 200;
font-size: 28px;
line-height: 26px;

color: #FAC494;


}
.a1{
    text-decoration: none;
  position: absolute;
width: 470px;
height: 10px;
left:380px;
top:30px;


font-family: 'JejuHallasan';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 15px;

color: #F6BA94;  
}
.a2{
    text-decoration: none;
  position: absolute;
width: 470px;
height: 10px;
left:490px;
top:30px;


font-family: 'JejuHallasan';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 15px;

color: #F6BA94;  
}
.a3{
    text-decoration: none;
  position: absolute;
width: 470px;
height: 10px;
left:580px;
top:30px;


font-family: 'JejuHallasan';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 15px;

color: #F6BA94;  
}
h4 {
    /* Щодня з 7:00-22:00 */

position: absolute;
width: 525px;
height: 49px;
left: 12px;
top:0px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFBD99;



/* instagram: @breakfast.allday */

position: absolute;
width: 321px;
height: 84px;
left: 18px;
top: 0px;

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;

color: #D99D7D;



/* сніданки цілий день */

position: absolute;
width: 256px;
height: 42px;
left: 19px;
top: 0px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #D99D7D;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.rg {
    /* Rectangle 6 */

box-sizing: border-box;

position: absolute;
width: 231px;
height: 340px;
left: 300px;
top: 102px;

background: #FFDABA;
border: 2px solid #573518;
border-radius: 10px;

}
h1{
    /* Rectangle 6 */

/* Забронювати столик */

position: absolute;
width: 311px;
height: 157px;
left: 260px;
top: 100px;

font-family: 'jsMath-cmr10';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 25px;
text-align: center;

color: #40240D;
}
.zr {
    /* зарезервуй ідеальний час у нашому затишному кафе */

position: absolute;
width: 224px;
height: 69px;
left: 304px;
top: 165px;

font-family: 'Judson';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
text-align: center;

color: #834D1E;


}
.im {
    /* ваше прізвище та ім’я */

position: absolute;
width: 311px;
height: 126px;
left: 229px;
top: 193px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;

color: #40240D;


}
.im1 {
    /* Rectangle 7 */

box-sizing: border-box;

position: absolute;
width: 189px;
height: 26px;
left: 320px;
top: 230px;

background: #FFEEDF;
border: 1px solid #482810;
border-radius: 7px;

}
.im1:focus {
    outline: none;
    top:230px;
}
.db {
    /* дата бронювання */

position: absolute;
width: 181px;
height: 47px;
left: 277px;
top: 245px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;

color: #40240D;


}
.gd {
    /* година */

position: absolute;
width: 130px;
height: 42px;
left: 400px;
top: 245px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;

color: #40240D;


}
.db1 {
    /* Rectangle 8 */

box-sizing: border-box;

position: absolute;
width: 88px;
height: 26px;
left: 320px;
top: 280px;

background: #FFEEDF;
border: 1px solid #482810;
border-radius: 7px;

}
.db1:focus {
    outline: none;
    
}
.gd1 {
    /* Rectangle 9 */

box-sizing: border-box;

position: absolute;
width: 88px;
height: 26px;
left: 420px;
top: 280px;

background: #FFEEDF;
border: 1px solid #482810;
border-radius: 7px;

}
.gd1:focus {
    outline: none;
    
}
.kl {
    /* кількість людей */

position: absolute;
width: 208px;
height: 44px;
left: 313px;
top: 298px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #40240D;


}
.minus {
    /* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 33px;
height: 26px;
left: 323px;
top: 330px;

background: #482810;
border: 1px solid #482810;

}
.kilki {
    /* Rectangle 10 */

box-sizing: border-box;

position: absolute;
width: 128px;
height: 26px;
left: 355px;
top: 330px;

background: #FFEEDF;
border: 1px solid #482810;

}
.plus {
    /* Rectangle 12 */

box-sizing: border-box;

position: absolute;
width: 33px;
height: 26px;
left: 480px;
top: 330px;

background: #482810;
border: 1px solid #482810;

}
.mn1 {
    /* - */

position: absolute;
width: 43px;
height: 28px;
left: 318px;
top: 312px;

font-family: 'Jua';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #FFFFFF;


}
.pl1 {
    /* + */

position: absolute;
width: 52px;
height: 28px;
left: 472px;
top: 314px;

font-family: 'Jua';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #FFFFFF;


}
.kl1 {
    /* 2 */

position: absolute;
width: 50px;
height: 35px;
left: 390px;
top: 318px;

font-family: 'Jua';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
text-align: center;

color: #482810;


}
.zg {
    /* Rectangle 13 */

box-sizing: border-box;

position: absolute;
width: 25px;
height: 23px;
left: 310px;
top: 363px;

background: #FFFFFF;
border: 1px solid #482810;
border-radius: 5px;

}
.zgg {
    /* я згоден з правилами та умовами бронювання */

position: absolute;
width: 217px;
height: 73px;
left: 341px;
top: 351px;

font-family: 'Jua';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #834D1E;


}
.pd {
    /* Rectangle 14 */

position: absolute;
width: 199px;
height: 36px;
left: 316px;
top: 393px;

background: #482810;
border-radius: 6px;

}
.pdb {
    /* Rectangle 14 */

/* підтвердити бронювання */

position: absolute;
width: 266px;
height: 49px;
left: 281px;
top: 390px;

font-family: 'Judson';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 17px;
text-align: center;

color: #FFDABA;

}
